*	{
	margin: 0;
  padding: 0;}
  
a {
  text-decoration: none;}
	
li {list-style: none;}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
html {
  overflow-x: hidden;
  width: 1920px;
}
body {
  font-family: OpenSans, sans-serif;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
h2 {
  color: #e7e7e7;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  color: #c1c1c1;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

header {
  margin: 0 auto;
  background: url(../images/football_1920.png) no-repeat;
  color: #ffffff;
  } 
.header__top {
  margin-left: auto;
  margin-right: auto;
  padding-top: 46px;
  width: 191px;
  height: 52px;
}

.header__center {
  padding-top: 265px;
  padding-left: 184px;
  padding-bottom: 196px;
}
.play {
  padding-left: 451px;
  margin-top: -30px;
}
.header__bottom{
  display: flex;
  padding-left: 620px;
  padding-bottom: 110px; 
}
a {
  display: flex;
}
.header__bottom__1{
  width: 311px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.hb_svg {
  width: 49px;
  height: 54px;
}
.bottom__svg__1 {
  padding-left: 34px;
  padding-right: 21px;
}
.hb_svg__2 {
  width: 44px;
  height: 60px;
}
.bottom__svg__2 {
  padding-left: 55px;
  padding-right: 28px;
  padding-top: 6px;
}
.header__bottom__text {
  text-transform: uppercase;
  
}
.download {
  padding-top: 12px;
}
.get {
  padding-top: 17px;
}
.bottom_text {
  font-weight: 700;
  line-height: 18px;
  width: 210px;
}
.header__bottom__1:hover {
  background:green;
}

/*section 1 footballer */
.footbal {
  position: absolute;
  width: 566px;
  height: 908px;
  left: 392px;
  top: 987px;
}
.main__ferst {
  padding-top: 87px;
}
.block1__zag {
  padding-bottom: 66px;
}
.block1 {
  padding-bottom: 54px;
  padding-left: 1007px;
}
.connect {
  display: flex;
  padding-bottom: 7.5px;
}
.numb {
  font-size: 18px;
  font-weight: 700;
  padding-top: 7px;
  letter-spacing: 0.9px;
  color: #000000;
}
.numb:after {
  content: "";
  position: relative;
  border-radius: 2px;
  background-color: #5e42b0;
  font-size: 23%;
  bottom: 14px;
  padding-left: 19px;
  margin-left: 1px;
}
.color__1{
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding-top: 9px;
  padding-left: 0px;
}
.connection {
padding-top: 8px;
padding-left: 10px;
}
.p2 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 717px;
  padding-left: 1.5px;
}

.block2 {
  background: rgba(94, 66, 176, 0.06);
  padding-bottom: 56px;
  padding-left: 1009px;
}
.collab {
  padding-top: 47px;
  display: flex;
  padding-bottom: 9px;
}
.Collaboration {
  padding-left: 10px;
  padding-top: 1px;
}
.numb__block:after {
  bottom: 14px;
  padding-left: 21px;
  margin-left: -1px;
}
.color__2{
  padding-top: 1px;
  padding-left: 0px;
  margin-left: -2px;
}
.p22{
  margin-left: -2px;
  padding-top: 1px;
}
.block3 {
  background: #5e42b0;
  padding-bottom: 57px;
  padding-left: 1009px;
}
.grow {
  display: flex;
  padding-top: 46px;
  padding-bottom: 16px;
}
.bl3 {
  color: #fff;
  margin-top: -9px;
  margin-left: -2px;
}
.color__3 {
  color: #0a0e34;
  margin-top: -6px;
  margin-left: -1px;
}
.numb3:after {
  background-color: #efefef;
  bottom: 14px;
  padding-left: 22px;
  margin-left: -1px;
  font-size: 21%;
}
.growth {
  padding-left: 9px;
  padding-top: 3px;
}
/*section 2 bascetbol*/
.block__second, .block__second__2, .block__second__3{
  padding-left: 191px;
}
.block__second {
  padding-top: 4px;
  padding-bottom: 52px;
}
.players {
  margin-left: -6px;
  margin-top: -2px;
}
.connection2 {
  margin-left: -4px;
  margin-top: 1px;
}
.block__second__2 {
  background-color: rgba(10, 14, 52, 0.04);
  padding-bottom: 83px;
}
.second__p21 {
  padding-top: 4px;
}
.color__22 {
  margin-top: -9px;

}

.numb__block2:after {
  padding-left: 21px;
  font-size: 21%;
}
.Collaboration2 {
  padding-left: 12px;
  padding-top: 0px;
}
.second__p22{
  padding-top: 8px;
}
.block__second__3 {
  background-color: #0a0e34;
  padding-bottom: 54px;
}
.grow2 {
  padding-top: 49px;
  padding-bottom: 16px;
}
.color3 {
  color: #9173e6;
}
.bl34 {
  margin-top: -4px;
  margin-left: -1px;
  width: 517px;
  letter-spacing: 0.63px;
}
.bascetbol {
  position: absolute;
  width: 991px;
  height: 815px;
  left: 804px;
  top: 1870px;
}
.second__p2 {
  width: 753px;
  line-height: 28px;
  
}
/* section 3 */
.active {
  display: flex;
}
.zero {
  width: 168px;
  height: 147px;
  background-color: #5e42b0;
  margin-top: 211px ;
  margin-left: -84px;
}
.zero p{
  padding: 61px 73px 75px 70px;
  color: #f5f6f7;
  font-size: 24px;
  font-weight: 700;
  padding-top: 45px;
}
.zero:after {
  background-color: #ffffff;
  opacity: 0.3;
  bottom: 86px;
  padding-left: 27px;
  margin-left: 70px;
}
.main__active {
  padding-top: 233px;
  padding-left: 38px;
}
.main_p2 {
  padding-top: 90px;
  padding-left: 42px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.16px;
  width: 618px;
}
.img2 {
  margin-top: -5px;
  margin-left: -86px;
}
.zero__2 {
  margin-top: 206px;
  z-index: 10;
  width: 168px;
  height: 148px;
}
.block1__zag__2 {
  width: 960px;
}
.main__Find {
  margin-left: 186px;
  margin-top: 228px;
}
.main_p2__2 {
  width: 700px;
  margin-left: 150px; 
  margin-top: -42px;
}
.img3 {
  margin-top: -5px;
}
.zero__3 {
  margin-top: 208px;
  width: 168px;
  height: 146px;
}
.main__Work {
  margin-left: 42px;
  margin-top: 228px;
}
.main_p2__3 {
  width: 660px;
  margin-left: -2px; 
  margin-top: -6px;
}
/*footer*/
footer {
  margin-top: -5px;
  background: url(../images/game_1920.png) no-repeat;
}
.footer__top {
  margin-left: 526px;
  padding-top: 229px;
  display: flex;
  align-items: center;
  padding-bottom: 152px;
}
.footer__svg {
  width: 128px;
  height: 136px;
  background-color: #5e42b0;
  border-radius: 30px;
}
.surface__logo {
  width: 106px;
  height: 86px;
  padding-top: 25px;
  padding-left: 10px;
}
.footer__h2 {
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 4.21px;
  padding-left: 32px;
  padding-top: 16px;
}
.footer__p {
  color: #a496ca;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 38.5px;
  padding-top: 1px;
  letter-spacing: 0px;
}
.footer__center {
  padding-top: 153px;
  padding-bottom: 0;
}
.footer__bottom {
  width: 191px;
  height: 52px;
  padding: 152px 0 48px 0px;
  margin-right: auto;
  margin-left: auto

}


